{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <td><h2>id: {{ department['id'] }},  </h2></td><td><h2>Title: {{ department['title'] }},  </h2></td><td><h2>Number of Employees: {{ department['employees']|length }}.</h2></td>
    </tr>
</table>
{% if department['employees']|length>0 %}
<p></p>
<h3> List of Employees </h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">Salary</th>
        <th scope="col">Birthday</th>
      </tr>
    </thead>
    <tbody>
    {% for employee in department['employees'] %}
      <tr>
        <th scope="row">{{ employee['id'] }}</th>
        <td>
          <a href="{{url_for('view_employees.employee_item', id_empl = employee.id)}}">{{ employee['name'] }}</a>  </td>
        <td>{{ employee['salary'] }}</td>
        <td>{{ employee['birthday'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
<a href="{{ url_for('view_departments.delete_department', id_dept =department.id) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">DELETE</a>
{% endblock %}