{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <td><h2> id: {{ employee['id'] }},</h2></td> <td><h2> Name: {{ employee['name'] }},  </h2></td> <td><h2> Salary: {{ employee['salary']}},</h2></td>
        <td><h2> Birthday: {{ employee['birthday'] }},</h2></td> <td><h2> Department #<a href="{{url_for('view_departments.department_item', id_dept = employee.department)}}">{{ employee['department'] }}</a>.</h2></td>
    </tr>
</table>
<br>
<a href="{{ url_for('view_employees.delete_employee', id_empl =employee.id) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">DELETE</a>

{% endblock %}