{% extends 'base.html' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Birthday</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
      <tr>
        <th scope="row">{{ employee['id'] }}</th>
        <td>
          <a href="{{url_for('view_employees.employee_item', id_empl = employee.id)}}">{{ employee['name'] }}</a>  </td>
        <td>{{ employee['salary'] }}</td>
        <td>{{ employee['birthday']}}</td>
        <td>{{ employee['department']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
